@import url(../modal/modal.component.css);

header {
  display: flex;
  align-items: center;
  position: fixed;

  width: 100vw;
  height: 4rem;
  padding: 0 5rem 0 8.75rem;

  background-color: var(--black);
  box-shadow: var(--shadow);
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navigation a {
  font-size: 14px;
  color: var(--white);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--pink);
  }
}

.navigation .sign-in,
.navigation .language {
  background: none;
}

.navigation .sign-in {
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--pink);
  }
}

.navigation .sign-up {
  padding: 10px 20px;
  font-weight: 800;

  border-radius: 20px;
  background: var(--gradient);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: var(--hover-light);
  }
}

.navigation .language {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.2;
  }
}