<header>
  <div class="container">
    <a href="#"><img src="../../../assets/Logo.svg" alt="Logo Bloog" /></a>
    <nav class="navigation">
      <a href="#">Support us</a>
      <a href="#">About us</a>
      <button class="sign-in" (click)="signin.toggle()">Sign-in</button>
      <button class="sign-up" (click)="signup.toggle()">Get started</button>
      <button class="language">
        <img src="../../../assets/Language.svg" alt="language" />
      </button>
    </nav>
  </div>
</header>

<app-modal #signin>
  <i class="form-icon"
    ><img src="../../../assets/bloog-icon.svg" alt="Ícone do Bloog"
  /></i>
  <h2 class="form-title">Welcome back earthling!</h2>

  <form>
    <div class="form-field">
      <input type="text" id="email" required/>
      <label for="email">Email</label>
      <i><img src="../../../assets/at-icon.svg" alt="At icon"></i>
    </div>

    <div class="form-field">
      <input type="password" id="password" required/>
      <label for="password">Password</label>
      <i><img src="../../../assets/password-icon.svg" alt="password icon"></i>
    </div>

    <div class="form-options">
      <input type="checkbox" name="checkbox" id="remember" />
      <label for="remember">Remember me</label>
      <a href="#">Forgot password?</a>
    </div>

    <button class="btn-login">Login</button>
    <button class="btn-google-login">
      <i><img src="../../../assets/google-icon.svg" alt="" /></i>Sign in with
      Google
    </button>

    <p>Don't have an account yet? <button class="btn-signin">Sign Up</button></p>
  </form>
</app-modal>

<app-modal #signup>
  <i class="form-icon"
    ><img src="../../../assets/bloog-icon.svg" alt="Ícone do Bloog"
  /></i>
  <h2 class="form-title">Welcome to Bloog!</h2>

  <form class="form-signup">
    <div class="form-field">
      <input type="text" id="name" required/>
      <label for="name">Name</label>
      <i><img src="../../../assets/user-icon.svg" alt="person icon"></i>
    </div>

    <div class="form-field">
      <input type="text" id="last-name" required/>
      <label for="last-name">Last name</label>
      <i><img src="../../../assets/user-icon.svg" alt="person icon"></i>
    </div>

    <div class="form-field">
      <input type="text" id="email" required/>
      <label for="email">Email</label>
      <i><img src="../../../assets/at-icon.svg" alt="At icon"></i>
    </div>

    <div class="form-field">
      <input type="password" id="create-password" required/>
      <label for="create-password">Create password</label>
      <i><img src="../../../assets/password-icon.svg" alt="password icon"></i>
    </div>

    <div class="form-field">
      <input type="password" id="confirm-password" required/>
      <label for="confirm-password">Confirm password</label>
      <i><img src="../../../assets/password-icon.svg" alt="password icon"></i>
    </div>

    <div class="form-options">
      <input type="checkbox" name="checkbox" id="terms" />
      <label for="terms">I agree to the Terms and <a href="#">Privacy Policy</a></label>
    </div>

    <button class="btn-login">Sign Up</button>
    <button class="btn-google-login">
      <i><img src="../../../assets/google-icon.svg" alt="" /></i>Sign in with
      Google
    </button>

    <p>Already have an account yet? <button class="btn-signin">Sign In</button></p>
  </form>
</app-modal>