header {
  display: flex;
  align-items: center;
  position: fixed;

  width: 100vw;
  height: 4rem;
  padding: 0 5rem 0 8.75rem;

  background-color: var(--black);
  box-shadow: var(--shadow);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navigation a {
  font-size: 14px;
  color: var(--white);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--pink);
  }
}

.navigation .sign-in,
.navigation .language {
  background: none;
}

.navigation .sign-in {
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--pink);
  }
}

.navigation .sign-up {
  padding: 10px 20px;
  font-weight: 800;

  border-radius: 20px;
  background: var(--gradient);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(90%);
  }
}

.navigation .language {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.2;
  }
}

/* ----> Form Styles <---- */

.form-icon {
  margin: 2.375rem 0 0.75rem 0;
}

.form-title {
  margin-bottom: 4rem;

  font-size: 1.5rem;
  color: var(--dark-gray);
}

form {
  min-width: 150px;
  max-width: 280px;
  width: 100%;
}

form .form-field {
  position: relative;
  margin-bottom: 1.1rem;
}

.form-field label {
  position: absolute;
  top: 30%;
  left: 5%;

  font-size: 14px;
  color: var(--gray);

  transition: all 0.2s ease-in-out;
}

.form-field i img {
  height: 16px;
  width: 16px;
  position: absolute;

  top: 30%;
  left: 88%;
}

.form-field input {
  width: 100%;
  padding: 0.8rem;
  padding-right: 2rem;

  outline: none;
  font-size: 14px;

  border-radius: 4px;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  color: var(--black);

  transition: all 0.2s ease-in-out;

  &:focus {
    border-color: var(--pink);
  }
}

.form-field input:valid + label,
.form-field input:focus + label {
    color: var(--pink);
    font-size: 10px;
    transform: translateY(-10px);
}