<app-navigation-signed />
<div class="container">
  <h1 class="title">
    <img src="../../../assets/icons/topics-orange.svg" alt="" />Explore topics
  </h1>

  <div class="wrapper">
    <div class="topic-container">
      <a><h2 class="topic-title">Technology</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>

    <div class="topic-container">
      <a><h2 class="topic-title">Software Development</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>

    <div class="topic-container">
      <a><h2 class="topic-title">Technology</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>

    <div class="topic-container">
      <a><h2 class="topic-title">Technology</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>

    <div class="topic-container">
      <a><h2 class="topic-title">Technology</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>

    <div class="topic-container">
      <a><h2 class="topic-title">Technology</h2></a>
      <ul class="group">
        <h3><a class="topic">Programming</a></h3>
        <li class="subtopic"><a>Android Development</a></li>
        <li class="subtopic"><a>Coding</a></li>
        <li class="subtopic"><a>Good practices</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Programming Languages</a></h3>
        <li class="subtopic"><a>Angular</a></li>
        <li class="subtopic"><a>C#</a></li>
        <li class="subtopic"><a>Flutter</a></li>
        <li class="subtopic"><a>Java</a></li>
        <li class="subtopic"><a>Javascript</a></li>
      </ul>
      <ul class="group">
        <h3><a class="topic">Dev Ops</a></h3>
        <li class="subtopic"><a>AWS</a></li>
        <li class="subtopic"><a>Databricks</a></li>
        <li class="subtopic"><a>Docker</a></li>
        <li class="subtopic"><a>Kubernetes</a></li>
      </ul>
    </div>
  </div>
</div>
