a {
    color: var(--dark-gray);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: url(../../../assets/topic-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .title {
  display: flex;
  font-size: 2.25rem;
  font-weight: bold;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 7rem 0 2.5rem 0;
}

.container .title img {
  color: var(--light-orange);
  margin-right: 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2.5rem 16rem;
}

.topic-container .topic-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.topic-container .group {
    margin-bottom: 1.125rem;
}

.topic-container .group > li > a {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--coal);
}


.topic-container .topic {
    font-weight: 500;
    font-size: 1rem;
}