<div class="card">
  <div class="thumbnail"></div>
  <div class="card-content">
    <h3 class="post-title">Angular Application Performance Improvement</h3>
    <p class="description">Underrated hero: Caching</p>

    <div class="author-info">
      <div class="author-photo"></div>
      <p class="author-name">Adam Smith &#8226; 7 hours ago</p>
    </div>

    <div class="feedback">
      <button class="like">
        <img src="../../../assets/icons/heart-icon.svg" alt="" /> 1.6K
      </button>
      <button class="comment">
        <img src="../../../assets/icons/comment-icon.svg" alt="" /> 14
      </button>
    </div>
  </div>
</div>
